<p-toast></p-toast>
<div class="card mt-3 p-3">
  <h5>Productos</h5>
  <p-table
    [value]="this.productosService.ingresoProductos"
    dataKey="id"
    editMode="row"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>codigo</th>
        <th>codigoProducto</th>
        <th>fechaIngreso</th>
        <th>valorUnitario</th>
        <th>cantidad</th>
        <th>totalCompra</th>
        <th>proveedor</th>
        <th>estado</th>

        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-ingresoProducto
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="ingresoProducto">
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="ingresoProducto.codigo"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.codigo }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="ingresoProducto.codigoProducto"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.codigoProducto }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="date"
                [(ngModel)]="ingresoProducto.fechaIngreso"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.fechaIngreso | date }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="ingresoProducto.valorUnitario"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.valorUnitario | currency: "COP ":"symbol" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="ingresoProducto.cantidad"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.cantidad }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="ingresoProducto.totalCompra"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.totalCompra }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="ingresoProducto.proveedor"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.proveedor }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="ingresoProducto.estado"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ingresoProducto.estado }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td style="text-align: center">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(ingresoProducto)"
            class="p-button-rounded p-button-text"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(ingresoProducto)"
            class="p-button-rounded p-button-text p-button-success p-mr-2"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(ingresoProducto, ri)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
